* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto Mono', monospace;
    background-color: $bg-color;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
}

label,
input,
button {
    display: block;
}

label {
font-family: roboto-bold;
}